<div class="container">
  <form (ngSubmit)='searchRepos()' style="margin-top: 100px;">
    <input type="text" name="searchname" [(ngModel)]="searchname">
    <button type="submit" class="btn btn-outline-success">search repo</button>
  </form>

  <h1>Search for Repositories</h1>
  <div class="row">
    <div class="col-md-5 repo" *ngFor="let repo of repos">
      <h3>{{repo.name}}</h3>
      <h4>{{repo.id}}</h4>
     
      <p>{{repo.description}}</p>
      
      <a href="{{repo.html_url}}" target="_blank" class="btn btn-primary">Check in Github </a>
     
    </div>


  </div>

</div>
